body{
    background: rgba(0,0,0,0.9);
    margin: 0;
    color: #ffffff;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.introduction{
  text-align: justify;
}

.showcase::after{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url('../figures/kanban-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px) ;
    transition: all 1000ms;
}

.showcase:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px) ;
}
.showcase:hover .content{
    filter: blur(2px);
    -webkit-filter: blur(2px) ;
}

.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
    color: #7C1717;

}

.content .logo{
    height: 180px;
    width: 180px
}

.content .title{
    font-size: 5rem;
    margin-top: 1rem;

}



.button{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 80px;
    color: #ffffff;
    background-color: #1883b0;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.button:hover{
    color: #1883ba;
    background-color: #ffffff;
}

.content .text{
    line-height: 1.7;
    margin-top: 1rem;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3 {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(2, 1fr);
}

.center{
    text-align: center;
    margin: auto;
}

.bg-light{
    background: #f4f4f4;
    color: #333
}

.bg-dark{
    background: #333;
    color: #f4f4f4
}

footer{
    padding: 2.2rem;
}

footer p{
    margin: 0%;
}

@media(max-width: 560px){
    .showcase::after{
        height: 50vh;

    }
    .content{
        top: 5%;
        margin-top: 5px;

    }
    content .logo{
        height: 140px;
        width: 140px;
    }
    .content .text{
        display: none;
    }
    .grid-3 .grid-2{
        grid-template-columns: repeat(3, 1fr);
    }

    .services.div{
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }
}

.modal-header{
  background-color: grey;
}
